@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    /* Colors */
    --background-color: #FFFBFF;
    --surface-container-high-color: #F6E4E3;
    --on-surface-color: #201A1A;
    --on-surface-variant-color: #524342;

    /* Search bar tokens */
    --search-bar-height: 56px;
    --search-bar-min-width: 360px;
    --search-bar-max-width: 720px;
    --search-bar-horizontal-margin: 24px;
    --search-bar-action-width: 56px;

    /* Font (body large) */
    --body-large-font-family: "Roboto";
    --body-large-line-height: 24px;
    --body-large-font-size: 16px;
    --body-large-font-weight: 400;
    --body-large-text-tracking: 0.5;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--background-color);
}

.content-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.logo {
    margin-bottom: 24px;
    width: 360px;
    animation-name: changing-logo-visibility;
    animation-duration: 1s;
}

@keyframes changing-logo-visibility {
    0% {
        width: 0px;
        opacity: 0;
    }
    100% {
        width: 360px;
        opacity: 1;
    }
}

.search-bar-container {
    display: flex;
    background-color: var(--surface-container-high-color);
    border-radius: calc(var(--search-bar-height) / 2);
    min-width: var(--search-bar-min-width);
    max-width: var(--search-bar-max-width);
    width: calc(100% - var(--search-bar-horizontal-margin) * 2);
    height: var(--search-bar-height);
    align-items: center;
    margin-left: var(--search-bar-horizontal-margin);
    margin-right: var(--search-bar-horizontal-margin);
    animation-name: search-bar-width;
    animation-duration: 1s;
}

@keyframes search-bar-width {
    0% {
        width: calc(var(--search-bar-min-width) - var(--search-bar-horizontal-margin) * 2);
    }
    100% {
        width: calc(100% - var(--search-bar-horizontal-margin) * 2)
    }
}

.input-field {
    background-color: transparent;
    border: none;
    margin-left: 16px;
    outline: none;
    flex-grow: 1;
    color: var(--on-surface-color);
    font-family: var(--body-large-font-family);
    line-height: var(--body-large-line-height);
    font-size: var(--body-large-font-size);
    font-weight: var(--body-large-font-weight);
    letter-spacing: var(--body-large-text-tracking);
}

.input-field::placeholder {
    color: var(--on-surface-variant-color);
}

.icon-button {
    background-color: transparent;
    width: var(--search-bar-action-width);
    height: var(--search-bar-height);
    border-radius: calc(var(--search-bar-height) / 2);
    cursor: pointer;
    border: none;
}
